<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>レシピ情報の管理</h3>
        <div class="form-inline">
        <%= form_tag('/recipes/edit', method:'post', multipart: true, id:'recipes_import') do %>
          <div class="form-inline">
            <%= link_to 'テンプレート取得', {:controller => 'recipes', :action => 'template', :format => 'xlsx', product_id: @product_id}, {class: 'btn btn-success', id: 'download_template', style: 'margin-right: 20px;'} %>
            <label style="vertical-align:middle;">
            <span class="btn btn-info" style="width:180px;">
              レシピ情報登録
              <input type="file" name="recipe_data" onChange="$('#recipes_import').submit();" style="display:none;">
            </span>
            </label>
          </div>
        <% end %>

        <%= link_to 'データの出力', {:controller => 'recipes', :action => 'output', :format => 'xlsx'}, {class: 'btn btn-warning', id: 'output_data', style: 'margin-left: 20px;'} %>

        <%= form_tag('/recipes/delete', method:'post', multipart: true, id:'recipes_delete') do %>
          <div class="form-inline">
            <label style="vertical-align:middle;">
            <span class="btn btn-danger" style="width:180px; margin-left: 20px;">
              レシピ情報の削除
              <input type="file" name="recipe_delete_data" onChange="$('#recipes_delete').submit();" style="display:none;">
            </span>
            </label>
          </div>
        <% end %>
        </div>
        <br>

        <% if @product_id != nil then %>
        <h5>表示ASIN： <%= @product_id %> &nbsp;&nbsp;商品名：<%= @name %>&nbsp;<br>素材点数：<%= @material_num %> 点&nbsp;&nbsp;&nbsp;原価：<%= @cost %> 円</h5>
        <% else %>
        <h5>登録済みレシピ件数：<%= @recipes.group(:product_id).pluck(:product_id).count %>件</h5>
        <% end %>

        <table class="table table-striped table-hover table-bordered" style="width:60%;">
          <thead class="thead-light">
            <tr>
              <% @headers.each do |key, value| %>
              <th><%= value %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @recipes.each do |temp| %>
              <tr>
                <% @headers.each do |key, value| %>
                <% if key == :name then %>
                <td><%= if temp.material != nil then truncate(temp.material.name) end %></td>
                <% else %>
                <td><%= temp[key] %></td>
                <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#download_template').on('click', function() {
      setTimeout(function(){
          //location.reload();
      },1000);
    });
  });
</script>
