<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>商品データの管理</h3>
        <div class="form-inline">
        <%= link_to '商品データDL', products_show_path(format: 'xlsx'), class: "btn btn-primary mr-4" %>
        <%= form_tag('/products/pickup', method:'post', multipart: true, id:'product_ship_import') do %>
          <div class="form-inline">
            <%= link_to '商品入庫予定テンプレDL', {:controller => 'products', :action => 'pickup', :format => 'xlsx'}, {class: 'btn btn-success', id: 'download_template', style: 'margin-right: 20px;'} %>
            <label style="vertical-align:middle;">
            <span class="btn btn-info" style="width:220px;">
              商品入庫予定テンプレ入力
              <input type="file" name="product_ship_data" onChange="$('#product_ship_import').submit();" style="display:none;">
            </span>
            </label>
          </div>
        <% end %>
        <%= form_tag('/products/show', method:'post', multipart: true, id:'pick_list_import') do %>
          <div class="form-inline">
            <label style="vertical-align:middle;">
            <span class="btn btn-danger" style="width:280px; margin-left:20px;">
              素材出庫登録（商品入庫に伴う）
              <input type="file" name="material_pick" onChange="$('#pick_list_import').submit();" style="display:none;">
            </span>
            </label>
          </div>
        <% end %>
        </div>
        <br>
        <h5>登録済み商品件数　全<%= @num.to_i %>件</h5>
        <%= paginate @products %>
        <table class="table table-striped table-hover table-bordered ellipsis" id="product_table" style="height: 65vh;">
          <thead class="thead-light">
            <tr>
              <% @headers.each do |key, value| %>
              <th><%= value %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |temp| %>
            <% product_id = temp.product_id %>
            <tr>
              <td><%= product_id %></td>
              <td><%= truncate(temp.name) %></td>
              <td><a href="/recipes/edit/<%= product_id %>" target="_blank">レシピ</a></td>
              <td class="text-center"><%= temp.calc_salable_days %></td>
              <td><a href="/products/track/<%= temp.id %>" target="_blank">詳細ページ</a></td>
              <td><a href="/product_stocks/edit/<%= product_id %>" target="_blank">在庫</a></td>
              <td><a href="/reports/edit/<%= product_id %>" target="_blank">売れ行き</a></td>
              <% buf = nil %>
              <td><%= if buf != nil then buf.fba_qty.to_i else 0 end %></td>
              <td><%= if buf != nil then buf.self_qty.to_i else 0 end %></td>
              <td><%= if buf != nil then buf.arriving_qty.to_i else 0 end %></td>
              <td><%= temp.price %></td>
              <td><%= temp.cost %></td>
              <td><%= temp.profit %></td>
              <td><%= temp.rakuten_url %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#download_template').on('click', function() {
      setTimeout(function(){
          location.href = '/products/show';
      },1000);
    });
  });
</script>
